<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252713189040-1uns91hm8pj6dot78rtvkl2dq29kg5p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252713189040-1uns91hm8pj6dot78rtvkl2dq29kg5p8</string>
	<key>API_KEY</key>
	<string>AIzaSyDT3-IWm8mumeC-QJKhi51CNJomP5U2q8c</string>
	<key>GCM_SENDER_ID</key>
	<string>252713189040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facens.trackit</string>
	<key>PROJECT_ID</key>
	<string>trackit-315022</string>
	<key>STORAGE_BUCKET</key>
	<string>trackit-315022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252713189040:ios:a0c32b7bb880bb8009c575</string>
</dict>
</plist>